* {
    text-align: center;
    align: center;
}

.sqr {
    margin: auto;
    border: 1px solid black;
}

input[type=text]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}
/**
#buttons{
    margin:auto;
    align:center;
    text-align:center;
}
*/

.num{             
    width: 33%;
    height: 33%;
    float: left;
    //text-align: center;
    opacity: 0;  
}

.hide {
    display: none;
}

/**
.focus {
    border: 1px solid orange;
}
*/

.dash {
    opacity: 0;
}

.currect {
    color: green;
}

.wrong {
    color:red;
}

.part {
    width: 49.6%;
    height: 48%;
    float: left;
    margin: auto;
    border: solid 1px orange;
    //text-align: center;
}

.title, .quiz, .answer, .score {
    width: 100%;
    height: 21%;
    padding: 1%;
}

.title {
    text-align: left;
    padding-left: 5%;
    width: 95%;
}

.quiz, .answer {
    text-align: left;
    padding-left: 12%;
    width: 88%;
}

/**
#new{
    margin:auto;
    width:99%;
    height:99%;
    float:left;
    text-align:center;
    align:center;
}
*/